[submodule "third_party/nvblox"]
	path = third_party/nvblox
	url = git@github.com:nvidia-isaac/nvblox.git
[submodule "third_party/ompl"]
	path = third_party/ompl
	url = https://github.com/ompl/ompl.git
